body {
  background-color: blanchedalmond;

  width: 98vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgb(230, 212, 185);
}
nav > a {
  padding: 10px;
  text-decoration: none;

  margin: 0px 5px 0px 5px;

  font-weight: bold;

  border-radius: 20%;
  
  color: black;
}
nav > a:hover {
  background-color: rgb(171, 161, 139);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 20px;
}
